
<div class="well">
	<h4><%= link_to task.description, task, remote: true, method: :delete, data: {confirm: 'Are you sure you want to delete this task?' } %></h4>
	<p><%= task.deadline %>
		<%= link_to edit_task_path(task), remote: true do %>
				<button class="btn btn-default btn-sm">
			  <span class="glyphicon glyphicon-pencil"></span>
			  <% end %>
				</button>
	</p>
</div>


