<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <br>
    <br>
    <%= link_to new_task_path, remote: true  do %>
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"> New Task</span>
      <% end %>
    </button>

    <div id="task-form" style="display:none;"></div>
  </div>
  <div class="col-md-8">
    <h1><strong>All Tasks</strong></h1>
    <div id="tasks">
      <ul>
        <%= render @tasks %>
      </ul>
    </div>
  </div>
</div>




